@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: JosefinSans;
  src: url(../fonts/JosefinSans/JosefinSans-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Thin.ttf);
  font-weight: 100;
}

.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 60px;
}

.header-nav .nav-bar .nav-item::after {
  margin: 0 auto;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header-nav .nav-bar .nav-item:first-child {
  margin-left: 0;
}

.header-nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media only screen and (max-width: 1199px) {
  .header-nav .nav-bar .nav-item {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .header-nav {
    width: 100%;
    position: relative;
  }
  .header-nav .toggler-icon {
    margin-right: 87%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: all, 1.0s;
    transition: all, 1.0s;
  }
  .header-nav .toggler-icon:hover {
    background: #0c6fd5;
  }
  .header-nav .toggler-icon div {
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    -webkit-transition: all, 0.7s;
    transition: all, 0.7s;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close {
    margin-left: 87%;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  .header-nav .toggler-icon_close div {
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #033160;
  }
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  .header-nav .nav-bar .nav-item::after {
    position: relative;
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: #033160;
    -webkit-transition: all, 1.5s;
    transition: all, 1.5s;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #08498d;
  }
  .header-nav .nav-bar .nav-item:hover::after {
    width: 100%;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    color: #fff;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .header-nav .toggler-icon {
    width: 45px;
    height: 45px;
  }
}

@media only screen and (max-width: 567px) {
  .header-nav .toggler-icon {
    width: 40px;
    height: 40px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  .header-nav .toggler-icon_close {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .header-nav .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  position: relative;
  width: 100%;
  height: 850px;
  background: url(../img/programmin.jpg) no-repeat center/cover;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header::before {
  background: rgba(3, 49, 96, 0.9);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.header__info {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

.header__info h1 {
  font-family: JosefinSans;
  font-size: 90px;
  font-weight: 300;
}

.header__info h2 {
  font-family: JosefinSans;
  font-size: 45px;
  font-weight: 100;
}

.header__info .header__btn {
  width: 150px;
  height: 50px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1.5px solid #fff;
  margin-top: 45px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.header__info .header__btn a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.header__info .header__btn a::after {
  margin: 0 auto;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  background: #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.header__info .header__btn a:hover {
  text-decoration: none;
}

.header__info .header__btn a:hover::after {
  width: 100%;
}

.header__info .header__btn:hover {
  background: #0c6fd5;
}

.header__nav-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 49, 96, 0.7)), to(#033160));
  background: linear-gradient(rgba(3, 49, 96, 0.7), #033160);
}

@media only screen and (max-width: 991px) {
  .header {
    height: 750px;
  }
  .header__info h1 {
    font-size: 75px;
  }
  .header__info h2 {
    font-size: 35px;
  }
  .header__nav-bar .container {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    height: 550px;
  }
  .header__info h1 {
    font-size: 65px;
  }
  .header__info h2 {
    font-size: 25px;
  }
  .header__info .header__btn {
    margin-top: 30px;
  }
  .header__nav-bar {
    height: 75px;
  }
}

@media only screen and (max-width: 567px) {
  .header__info {
    padding-left: 25px;
  }
  .header__info h1 {
    font-size: 45px;
  }
  .header__info h2 {
    font-size: 22px;
  }
  .header__info .header__btn {
    margin-top: 25px;
  }
}

section {
  padding: 150px 0;
  width: 100%;
}

#about-me {
  background: #f8f9fb;
}

#about-me .about-me__photo {
  padding-right: 0;
  z-index: 1;
}

#about-me .about-me__photo img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 2px #929497;
  box-shadow: 0px 0px 5px 2px #929497;
}

#about-me .about-me__socials {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-left: 0;
  z-index: 0;
}

#about-me .about-me__socials .white-area {
  padding: 57px 0 40px 33px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 2px #dcdddf;
  box-shadow: 0px 0px 5px 2px #dcdddf;
  margin-bottom: 30px;
}

#about-me .about-me__socials .white-area h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 35px;
  color: #232323;
}

#about-me .about-me__socials .white-area h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  color: #282828;
}

#about-me .about-me__socials .social {
  margin-left: 33px;
  margin-bottom: 60px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#about-me .about-me__socials .social span {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  color: #c2c2c2;
  margin-right: 30px;
}

#about-me .personal-info {
  margin-top: 80px;
}

#about-me .personal-info h3 {
  width: 100%;
  font-family: Raleway;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

#about-me .about-me__wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#about-me .about-me__wrapper .about-me__bio {
  color: #232323;
}

#about-me .about-me__wrapper .about-me__bio-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

#about-me .about-me__wrapper .about-me__bio-block * {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#about-me .about-me__wrapper .about-me__bio-block * span {
  margin-top: 20px;
}

#about-me .about-me__wrapper .about-me__bio-block_01 span {
  font-weight: 700;
}

#about-me .about-me__wrapper .about-me__bio-block_02 {
  margin-left: 50px;
}

#about-me .about-me__wrapper .about-me__bio-block_02 span {
  font-weight: 400;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

#about-me .about-me__wrapper .main-btn {
  margin-left: 80px;
}

.main-btn {
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  background: #0e82f9;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.main-btn a {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.main-btn a i {
  margin-left: 10px;
}

.main-btn a::after {
  margin: 0 auto;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.main-btn a:focus {
  text-decoration: none;
}

.main-btn a:hover {
  text-decoration: none;
}

.main-btn a:hover::after {
  width: 100%;
}

.main-btn:hover {
  background: #0569cf;
}

.social-icons {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 27px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10px;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  color: #fff;
  text-decoration: none;
}

.social-icons a i {
  font-size: 20px;
}

.social-icons a:nth-child(1) {
  background: #475993;
}

.social-icons a:nth-child(2) {
  background: #80c52c;
}

.social-icons a:nth-child(3) {
  background: #289fd9;
}

.social-icons a:nth-child(4) {
  background: #000;
}

.social-icons a:hover {
  background: #0e82f9;
}

@media only screen and (max-width: 1199px) {
  section {
    padding: 100px 0;
  }
  #about-me .about-me__socials .white-area {
    padding: 47px 0 30px 33px;
    margin-bottom: 30px;
  }
  #about-me .about-me__socials .white-area h2 {
    font-size: 35px;
  }
  #about-me .about-me__socials .white-area h3 {
    font-size: 22px;
  }
  #about-me .about-me__socials .social {
    margin-left: 33px;
    margin-bottom: 30px;
  }
  #about-me .about-me__socials .social span {
    font-size: 30px;
    margin-right: 30px;
  }
  #about-me .personal-info {
    margin-top: 60px;
  }
  #about-me .personal-info h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  #about-me .about-me__wrapper .about-me__bio-block {
    font-size: 18px;
  }
  #about-me .about-me__wrapper .about-me__bio-block * span {
    margin-top: 20px;
  }
  #about-me .about-me__wrapper .about-me__bio-block_02 {
    margin-left: 50px;
  }
  #about-me .about-me__wrapper .main-btn {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 992px) {
  section {
    padding: 75px 0;
  }
  #about-me .about-me__socials .white-area {
    padding: 37px 0 25px 25px;
    margin-bottom: 25px;
  }
  #about-me .about-me__socials .white-area h2 {
    font-size: 32px;
  }
  #about-me .about-me__socials .white-area h3 {
    font-size: 18px;
  }
  #about-me .about-me__socials .social {
    margin-left: 25px;
    margin-bottom: 30px;
  }
  #about-me .about-me__socials .social span {
    font-size: 24px;
    margin-right: 20px;
  }
  #about-me .personal-info {
    margin-top: 60px;
  }
  #about-me .personal-info h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #about-me .about-me__wrapper .about-me__bio-block {
    font-size: 18px;
  }
  #about-me .about-me__wrapper .about-me__bio-block * span {
    margin-top: 20px;
  }
  #about-me .about-me__wrapper .about-me__bio-block_02 {
    margin-left: 50px;
  }
  #about-me .about-me__wrapper .main-btn {
    margin-left: 35px;
  }
}

@media only screen and (max-width: 767px) {
  section {
    padding: 50px 0;
  }
  #about-me .about-me__photo {
    padding-right: 15px;
  }
  #about-me .about-me__socials {
    padding-left: 15px;
  }
  #about-me .about-me__socials .white-area {
    padding: 37px 0 25px 0px;
    margin-bottom: 25px;
    text-align: center;
  }
  #about-me .about-me__socials .white-area h2 {
    font-size: 30px;
  }
  #about-me .about-me__socials .white-area h3 {
    font-size: 18px;
  }
  #about-me .about-me__socials .social {
    margin-left: 0px;
    margin-bottom: 0px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #about-me .about-me__socials .social span {
    font-size: 22px;
    margin-right: 20px;
  }
  #about-me .personal-info {
    margin-top: 60px;
  }
  #about-me .personal-info h3 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  #about-me .about-me__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #about-me .about-me__wrapper .about-me__bio-block {
    font-size: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #about-me .about-me__wrapper .about-me__bio-block * span {
    margin-top: 15px;
  }
  #about-me .about-me__wrapper .about-me__bio-block_02 {
    margin-left: 40px;
  }
  #about-me .about-me__wrapper .main-btn {
    margin-top: 50px;
    margin-left: 0;
  }
  .main-btn {
    padding: 10px 20px;
    font-size: 20px;
  }
  .main-btn::after {
    left: 20px;
    height: 2.0px;
  }
  .main-btn:hover:after {
    width: 80.5%;
  }
  .main-btn i {
    margin-left: 7px;
  }
}

@media only screen and (max-width: 436px) {
  #about-me .about-me__socials .white-area {
    padding: 25px 0 15px 0px;
    margin-bottom: 25px;
    text-align: center;
  }
  #about-me .about-me__socials .white-area h2 {
    font-size: 30px;
  }
  #about-me .about-me__socials .white-area h3 {
    width: 220px;
    font-size: 18px;
    margin: 0 auto;
  }
  #about-me .about-me__socials .social span {
    width: 53px;
    font-size: 18px;
  }
  #about-me .personal-info {
    margin-top: 60px;
    padding: 0 15px;
  }
  #about-me .personal-info h3 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  #about-me .about-me__wrapper .about-me__bio-block {
    font-size: 16px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #about-me .about-me__wrapper .about-me__bio-block * span {
    margin-top: 15px;
  }
  #about-me .about-me__wrapper .about-me__bio-block_02 {
    margin-left: 40px;
  }
}

.section__title {
  width: 100%;
  margin: 0;
  font-family: Raleway;
  font-size: 45px;
  font-weight: 700;
  color: #232323;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}

@media only screen and (max-width: 991px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 767px) {
  .section__title {
    font-size: 32px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 567px) {
  .section__title {
    font-size: 30px;
  }
}

.experience .exp-block {
  width: 100%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience .exp-block__01 {
  width: 10%;
  height: 275px;
  background: #0e82f9;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.experience .exp-block__01 .exp-block__years {
  font-size: 21px;
  font-weight: 400;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.experience .exp-block__01 .blue-triangle {
  position: absolute;
  top: 50%;
  right: -25%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 40px solid #0e82f9;
  border-bottom: 25px solid transparent;
}

.experience .exp-block__02 {
  width: 80%;
  height: 275px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 50px;
  background: #fafafc;
  -webkit-box-shadow: 0px 0px 10px 0px #ececec;
  box-shadow: 0px 0px 10px 0px #ececec;
}

.experience .exp-block__02_work {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #232323;
}

.experience .exp-block__02_firm {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #515151;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.experience .exp-block__02_firm::after {
  margin: 0 auto;
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: #0e82f9;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.experience .exp-block__02_firm:focus {
  text-decoration: none;
}

.experience .exp-block__02_firm:hover {
  text-decoration: none;
  color: #0e82f9;
}

.experience .exp-block__02_firm:hover:after {
  width: 100%;
}

.experience .exp-block__03 {
  width: 10%;
  background: #e2e2e2;
}

.experience .exp-block:first-child {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.experience .exp-block:first-child .exp-block__03 {
  height: 300px !important;
}

.experience .exp-block:last-child {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.experience .exp-block:last-child .exp-block__03 {
  height: 300px !important;
}

.experience .exp-block_left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.experience .exp-block_left .exp-block__03 {
  height: 325px;
}

.experience .exp-block_right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -25px 0;
}

.experience .exp-block_right .exp-block__01 .blue-triangle {
  position: absolute;
  top: 50%;
  left: -25%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 0px solid #0e82f9;
  border-top: 25px solid transparent !important;
  border-right: 40px solid #0e82f9 !important;
  border-bottom: 25px solid transparent !important;
}

.experience .exp-block_right .exp-block__02 {
  text-align: right;
}

.experience .exp-block_right .exp-block__03 {
  height: 325px;
}

@media only screen and (max-width: 1199px) {
  .experience .exp-block__01 {
    height: 250px;
  }
  .experience .exp-block__01 .exp-block__years {
    font-size: 16px;
  }
  .experience .exp-block__02 {
    height: 250px;
    padding: 0 40px;
  }
  .experience .exp-block__02_work {
    font-size: 22px;
  }
  .experience .exp-block__02_firm {
    margin-top: 25px;
    font-size: 22px;
  }
  .experience .exp-block:first-child .exp-block__03 {
    height: 275px !important;
  }
  .experience .exp-block:last-child .exp-block__03 {
    height: 275px !important;
  }
  .experience .exp-block_left .exp-block__03 {
    height: 300px;
  }
  .experience .exp-block_right .exp-block__03 {
    height: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .experience .exp-block {
    margin-top: 25px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .experience .exp-block__01 {
    width: 100%;
    height: 50px;
  }
  .experience .exp-block__01 .exp-block__years {
    font-size: 20px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .experience .exp-block__01 .blue-triangle {
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate(50%, -95%);
    transform: translate(50%, -95%);
    width: 0;
    height: 0;
    border-bottom: 24px solid #0e82f9;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
  .experience .exp-block__02 {
    width: 100%;
    height: 250px;
    padding: 0 30px;
    text-align: center !important;
  }
  .experience .exp-block__02_work {
    font-size: 22px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .experience .exp-block__02_firm {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 22px;
  }
  .experience .exp-block__03 {
    display: none;
  }
  .experience .exp-block_right {
    margin: 0;
  }
  .experience .exp-block_right .exp-block__01 .blue-triangle {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -95%);
    transform: translate(-50%, -95%);
    border-bottom: 24px solid #0e82f9 !important;
    border-left: 15px solid transparent !important;
    border-right: 15px solid transparent !important;
  }
}

@media only screen and (max-width: 767px) {
  .experience .exp-block__01 .exp-block__years {
    font-size: 18px;
  }
  .experience .exp-block__02 {
    height: auto;
    padding: 30px 30px 50px 30px;
  }
  .experience .exp-block__02_work {
    font-size: 18px;
  }
  .experience .exp-block__02_firm {
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .experience .exp-block {
    padding: 0 20px;
  }
}

#education .experience .exp-block {
  display: none;
}

#education .experience .exp-block:last-child {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#education .experience .exp-block:last-child .exp-block__03 {
  height: 275px !important;
}

@media only screen and (max-width: 1199px) {
  #education .experience .exp-block:last-child .exp-block__03 {
    height: 250px !important;
  }
}

#my-skills {
  width: 100%;
  background: #f8f9fb;
}

#my-skills .skills__img {
  background: url(../img/skills__img.jpg) no-repeat center/cover;
}

#my-skills .skills__chips {
  background: #fff;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 20px;
}

#my-skills .skills__chips div {
  padding: 10px 20px;
  background: #e2e2e2;
  margin: 5px 10px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 1199px) {
  #my-skills .skills__img {
    height: 400px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 991px) {
  #my-skills .skills__img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #my-skills .skills__chips {
    padding: 20px 29px;
  }
  #my-skills .skills__chips div {
    font-size: 14px;
  }
}

#my-experience {
  display: none;
}

@-webkit-keyframes pulse {
  25% {
    color: #0e82f9;
  }
  50% {
    color: #fff;
  }
  75% {
    color: #0e82f9;
  }
  100% {
    color: #fff;
  }
}

.portfolio {
  margin-top: -30px;
}

.portfolio-item {
  margin-top: 30px;
}

.portfolio-item .portfolio-item__inside {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.portfolio-item .portfolio-item__inside img {
  width: 100%;
}

.portfolio-item .portfolio-item__inside .portfolio-item__discr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}

.portfolio-item .portfolio-item__inside .portfolio-item__discr a {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 40%;
  -webkit-animation: pulse 2.5s infinite normal;
  animation: pulse 2.5s infinite normal;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.portfolio-item .portfolio-item__inside .portfolio-item__discr a::after {
  margin: 0 auto;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: #0e82f9;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.portfolio-item .portfolio-item__inside .portfolio-item__discr a:focus {
  text-decoration: none;
}

.portfolio-item .portfolio-item__inside .portfolio-item__discr a:hover {
  text-decoration: none;
  color: #0e82f9;
  -webkit-animation: none;
  animation: none;
}

.portfolio-item .portfolio-item__inside .portfolio-item__discr a:hover:after {
  width: 100%;
}

.portfolio-item .portfolio-item__inside .portfolio-item__discr span {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #e2e2e2;
  text-align: center;
}

.footer {
  width: 100%;
}

.footer .phone-email {
  width: inherit;
  padding: 50px 0;
  background: #26272f;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer .phone-email span {
  font-size: 24px;
  font-weight: 400;
  color: #0e82f9;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .phone-email span i {
  font-size: 30px;
  margin-right: 10px;
}

.footer .phone-email span:first-child {
  margin-right: 100px;
}

.footer .phone-email span:first-child i {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.footer-socials {
  width: inherit;
  background: #232323;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-socials .social-icons a {
  background: transparent;
  color: #0e82f9;
  padding: 50px;
  border-radius: 3px;
}

.footer-socials .social-icons a i {
  font-size: 36px;
}

.footer-socials .social-icons a:hover {
  color: #fff;
}

.footer-socials .social-icons a:nth-child(1) {
  margin-left: 0;
}

.footer-socials .social-icons a:nth-child(1):hover {
  background: #475993;
}

.footer-socials .social-icons a:nth-child(2):hover {
  background: #80c52c;
}

.footer-socials .social-icons a:nth-child(3):hover {
  background: #289fd9;
}

.footer-socials .social-icons a:nth-child(4):hover {
  background: #000;
}
