// to compile...

$blue : #033160;
$light-blue: #0e82f9;
$black: #232323;

@import "./_components/_josefin-sans.scss";
@import "./_components/_lato.scss";
@import "./_components/_raleway.scss";
@import "./_components/_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  height: 850px;
  background: url(../img/programmin.jpg) no-repeat center / cover;
  background-attachment: fixed;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  &::before {
    background: rgba(3, 49, 96, 0.8);
    content: '';
    display: block;
    height: 110%;
    position: absolute;
    width: 100%;
  }

  &__info {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    margin-top: 50%;
    -webkit-transform: translateY(-130%);
            transform: translateY(-130%);

    h1 {
      font-family: JosefinSans;
      font-size: 90px;
      font-weight: 300;
    }

    h2 {
      font-family: JosefinSans;
      font-size: 45px;
      font-weight: 100;
    }
  }

  &__nav-bar {
    width: 100%;
    padding: 30px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 49, 96, 0.8)), to(rgba(3, 49, 96, 1.0)));
    background: linear-gradient(rgba(3, 49, 96, 0.8), rgba(3, 49, 96, 1.0));
  }
}

@media only screen and (max-width : 1199px) {
  .header {
    &__info {
      -webkit-transform: translateY(-90%);
              transform: translateY(-90%);
    }

    &__nav-bar {
      padding: 25px 0;
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    height: 750px;
    background-attachment: scroll;

    &:before {
      height: 98%;
    }

    &__info {
      -webkit-transform: translateY(-75%);
              transform: translateY(-75%);
      h1 {
        font-size: 75px;
      }

      h2 {
        font-size: 35px;
      }
    }

    &__nav-bar {
      padding: 20px 0;

      .container {
        width: 100%;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .header {
    height: 550px;

    &:before {
      height: 72%;
    }

    &__info {
      h1 {
        font-size: 65px;
      }

      h2 {
        font-size: 25px;
      }
    }

    &__nav-bar {
      padding: 15px 0;

    }
  }
}

@media only screen and (max-width : 567px) {
  .header {
    &__info {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      padding-left: 25px;

      h1 {
        font-size: 45px;
      }

      h2 {
        font-size: 22px;
      }
    }
  }
}

section {
  padding: 150px 0;
  width: 100%;
}

#about-me {
  background: #f8f9fb;

  .about-me__photo {
    padding-right: 0;
    z-index: 1;

    img {
      width: 100%;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(146,148,151,1);
              box-shadow: 0px 0px 5px 2px rgba(146,148,151,1);
    }
  }

  .about-me__socials {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-left: 0;
    z-index: 0;

    .white-area {
      padding: 57px 0 40px 33px;
      background: #fff;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(220,221,223,1);
              box-shadow: 0px 0px 5px 2px rgba(220,221,223,1);
      margin-bottom: 30px;

      h2 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 35px;
        color: $black;
      }

      h3 {
        margin: 0;
        font-size: 22px;
        font-weight: 300;
        color: #282828;
      }
    }

    .social {
      margin-left: 33px;
      margin-bottom: 60px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      span {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 400;
        color: #c2c2c2;
        margin-right: 30px;
      }
    }
  }

  .personal-info {
    margin-top: 80px;

    h3 {
      width: 100%;
      font-family: Raleway;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .about-me__wrapper {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .about-me__bio {
      color: $black;

      &-block {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 18px;

        .about-me__bio-block_01, .about-me__bio-block_02{
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;

          span {
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 20px;
          }
        }

        &_01 {
          span {
            font-weight: 700;
          }
        }

        &_02 {
          margin-left: 50px;

          span {
            font-weight: 400;
            -webkit-transform: translateY(-1px);
                    transform: translateY(-1px);

            &#experienceYears, &#experienceMonths {
              margin: 0;
              margin-right: 5px;
              -webkit-transform: translateY(1px);
                      transform: translateY(1px);
            }

            &#experienceMonths {
              // margin-left: 10px;
            }
          }
        }
      }
    }

    .main-btn {
      margin-left: 80px;
    }
  }
}

.main-btn {
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  background: $light-blue;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  a {
    color: #fff;
    font-size: 24px;
    font-weight: 400;

    i {
      margin-left: 10px;
    }

    &::after {
      margin: 0 auto;
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
      content: '';
      display: block;
      width: 0;
      height: 2.5px;
      background: #fff;
      -webkit-transition: all, .5s;
      transition: all, .5s;
    }

    &:focus {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;

      &::after {
        width: 100%;
      }
    }
  }

  &:hover {
    background: darken($light-blue, 10%);
  }
}

.social-icons {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  a {
    width: 35px;
    height: 35px;
    border-radius: 27px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    color: #fff;
    text-decoration: none;

    i {
      font-size: 20px;
    }

    &:nth-child(1) {
      background: #475993;
    }

    &:nth-child(2) {
      background: #80c52c;
    }

    &:nth-child(3) {
      background: #289fd9;
    }

    &:nth-child(4) {
      background: #000;
    }

    &:hover {
      background: $light-blue;
    }
  }
}

@media only screen and (max-width : 1199px) {
  section {
    padding: 100px 0;
  }

  #about-me {
    .about-me__socials {
      .white-area {
        padding: 47px 0 30px 33px;
        margin-bottom: 30px;

        h2 {
          font-size: 35px;
        }

        h3 {
          font-size: 22px;
        }
      }

      .social {
        margin-left: 33px;
        margin-bottom: 30px;

        span {
          font-size: 30px;
          margin-right: 30px;
        }
      }
    }

    .personal-info {
      margin-top: 60px;

      h3 {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }

    .about-me__wrapper {
      .about-me__bio {
        &-block {
          font-size: 18px;

          * {
            span {
              margin-top: 20px;
            }
          }

          &_02 {
            margin-left: 50px;
          }
        }
      }

      .main-btn {
        margin-left: 50px;
      }
    }
  }
}

@media only screen and (max-width : 992px) {
  section {
    padding: 75px 0;
  }

  #about-me {
    .about-me__socials {
      .white-area {
        padding: 37px 0 25px 25px;
        margin-bottom: 25px;

        h2 {
          font-size: 32px;
        }

        h3 {
          font-size: 18px;
        }
      }

      .social {
        margin-left: 25px;
        margin-bottom: 30px;

        span {
          font-size: 24px;
          margin-right: 20px;
        }
      }
    }

    .personal-info {
      margin-top: 60px;

      h3 {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }

    .about-me__wrapper {
      .about-me__bio {
        &-block {
          font-size: 18px;

          * {
            span {
              margin-top: 20px;
            }
          }

          &_02 {
            margin-left: 50px;
          }
        }
      }

      .main-btn {
        margin-left: 35px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  section {
    padding: 50px 0;
  }

  #about-me {
    .about-me__photo {
      padding-right: 15px;
    }

    .about-me__socials {
      padding-left: 15px;

      .white-area {
        padding: 37px 0 25px 0px;
        margin-bottom: 25px;
        text-align: center;

        h2 {
          font-size: 30px;
        }

        h3 {
          font-size: 18px;
        }
      }

      .social {
        margin-left: 0px;
        margin-bottom: 0px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        span {
          font-size: 22px;
          margin-right: 20px;
        }
      }
    }

    .personal-info {
      margin-top: 60px;

      h3 {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }

    .about-me__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      .about-me__bio {
        &-block {
          font-size: 16px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;

          * {
            span {
              margin-top: 15px;
            }
          }

          &_02 {
            margin-left: 40px;
          }
        }
      }

      .main-btn {
        margin-top: 50px;
        margin-left: 0;
      }
    }
  }

  .main-btn {
    padding: 10px 20px;
    font-size: 20px;

    &::after {
      left: 20px;
      height: 2.0px;
    }

    &:hover {
      &:after {
        width: 80.5%;
      }
    }

    i {
      margin-left: 7px;
    }
  }
}

@media only screen and (max-width : 436px) {
  #about-me {
    .about-me__socials {
      .white-area {
        padding: 25px 0 15px 0px;
        margin-bottom: 25px;
        text-align: center;

        h2 {
          font-size: 30px;
        }

        h3 {
          width: 220px;
          font-size: 18px;
          margin: 0 auto;
        }
      }

      .social {

        span {
          width: 53px;
          font-size: 18px;
        }
      }
    }

    .personal-info {
      margin-top: 60px;
      padding: 0 15px;

      h3 {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }

    .about-me__wrapper {
      .about-me__bio {
        &-block {
          font-size: 16px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;

          * {
            span {
              margin-top: 15px;
            }
          }

          &_02 {
            margin-left: 40px;
          }
        }
      }
    }
  }
}

.section__title {
  width: 100%;
  margin: 0;
  font-family: Raleway;
  font-size: 45px;
  font-weight: 700;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}

@media only screen and (max-width : 991px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 75px;
  }
}

@media only screen and (max-width : 767px) {
  .section__title {
    font-size: 32px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width : 567px) {
  .section__title {
    font-size: 30px;
  }
}

.experience {
  .exp-block {
    width: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &__01 {
      width: 10%;
      height: 275px;
      background: $light-blue;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;

      .exp-block__years {
        font-size: 21px;
        font-weight: 400;
        color: #fff;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
      }

      .blue-triangle {
        position: absolute;
        top: 50%;
        right: -25%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-left: 40px solid $light-blue;
        border-bottom: 25px solid transparent;
      }
    }

    &__02 {
      width: 80%;
      height: 275px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 50px;
      background: lighten(#f8f9fb, 0.5%);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(236,236,236,1);
              box-shadow: 0px 0px 10px 0px rgba(236,236,236,1);

      &_work {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        color: $black;
      }

      &_firm {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
        color: #515151;
        -webkit-transition: all, .5s;
        transition: all, .5s;

        &::after {
          margin: 0 auto;
          -webkit-transform: translateY(1px);
                  transform: translateY(1px);
          content: '';
          display: block;
          width: 0;
          height: 2.5px;
          background: $light-blue;
          -webkit-transition: all, .5s;
          transition: all, .5s;
        }

        &:focus {
          text-decoration: none;
        }

        &:hover {
          text-decoration: none;
          color: $light-blue;

          &:after {
            width: 100%;
          }
        }
      }
    }

    &__03 {
      width: 10%;
      background: #e2e2e2;
    }

    &:first-child {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;

      .exp-block__03 {
        height: 300px !important;
      }
    }

    &:last-child {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;

      .exp-block__03 {
        height: 300px !important;
      }
    }
  }

  .exp-block_left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .exp-block__03 {
      height: 325px;
    }
  }

  .exp-block_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: -25px 0;

    .exp-block__01 {
      .blue-triangle {
        position: absolute;
        top: 50%;
        left: -25%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 0px solid $light-blue;
        border-top: 25px solid transparent !important;
        border-right: 40px solid $light-blue !important;
        border-bottom: 25px solid transparent !important;
      }
    }

    .exp-block__02 {
      text-align: right;
    }

    .exp-block__03 {
      height: 325px;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .experience {
    .exp-block {
      &__01 {
        height: 250px;

        .exp-block__years {
          font-size: 16px;
        }
      }

      &__02 {
        height: 250px;
        padding: 0 40px;

        &_work {
          font-size: 22px;
        }

        &_firm {
          margin-top: 25px;
          font-size: 22px;
        }
      }

      &:first-child {
        .exp-block__03 {
          height: 275px !important;
        }
      }

      &:last-child {
        .exp-block__03 {
          height: 275px !important;
        }
      }
    }

    .exp-block_left {
      .exp-block__03 {
        height: 300px;
      }
    }

    .exp-block_right {
      .exp-block__03 {
        height: 300px;
      }
    }
  }
}

@media only screen and (max-width : 992px) {
  .experience {
    .exp-block {
      margin-top: 25px !important;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: start !important;
          -ms-flex-align: start !important;
              align-items: flex-start !important;

      &__01 {
        width: 100%;
        height: 50px;

        .exp-block__years {
          font-size: 20px;
          -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
        }

        .blue-triangle {
          position: absolute;
          top: 0;
          right: 50%;
          -webkit-transform: translate(50%, -95%);
                  transform: translate(50%, -95%);
          width: 0;
          height: 0;
          border-bottom: 24px solid $light-blue;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
        }
      }

      &__02 {
        width: 100%;
        height: 250px;
        padding: 0 30px;
        text-align: center !important;

        &_work {
          font-size: 22px;
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
        }

        &_firm {
          margin: 0 auto;
          margin-top: 20px;
          font-size: 22px;
        }
      }

      &__03 {
        display: none;
      }
    }

    .exp-block_right {
      margin: 0;

      .exp-block__01 {
        .blue-triangle {
          top: 0;
          left: 50%;
          -webkit-transform: translate(-50%, -95%);
                  transform: translate(-50%, -95%);
          border-bottom: 24px solid $light-blue !important;
          border-left: 15px solid transparent !important;
          border-right: 15px solid transparent !important;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .experience {
    .exp-block {
      &__01 {
        .exp-block__years {
          font-size: 18px;
        }
      }

      &__02 {
        height: auto;
        padding: 30px 30px 50px 30px;

        &_work {
          font-size: 18px;
        }

        &_firm {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  .experience {
    .exp-block {
      padding: 0 20px;
    }
  }
}

#education {
  .experience {
    .exp-block {
      display: none;

      &:last-child {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .exp-block__03 {
          height: 275px !important;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  #education {
    .experience {
      .exp-block {
        &:last-child {
          .exp-block__03 {
            height: 250px !important;
          }
        }
      }
    }
  }
}

#my-skills {
  width: 100%;
  background: #f8f9fb;

  .skills {
    &__img {
      background: url(../img/skills__img.jpg) no-repeat center / cover;
    }

    &__chips {
      background: #fff;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 20px 20px;
      border-radius: 10px;

      div {
        padding: 10px 20px;
        background: #e2e2e2;
        margin: 5px 10px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        &:hover {
          background: darken(#e2e2e2, 15%);
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  #my-skills {
    .skills {
      &__img {
        height: 400px;
        margin-bottom: 25px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  #my-skills {
    .skills {
      &__img {
        display: none;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  #my-skills {
    .skills {
      &__chips {
        padding: 20px 29px;

        div {
          font-size: 14px;
        }
      }
    }
  }
}

#my-experience {
  display: none;
}

// #my-portfolio {
//   width: 100%;
//   background: #f8f9fb;
// }

@-webkit-keyframes pulse {
     25% {color: $light-blue;}
     50% {color: #fff;}
     75% {color: $light-blue;}
     100% {color: #fff;}
}

.portfolio {
  margin-top: -30px;

  &-item {
    margin-top: 30px;

    .portfolio-item__inside {
      position: relative;
      overflow: hidden;
      width: 100%;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
              box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

      img {
        width: 100%;
      }

      .portfolio-item__discr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);

        a {
          font-family: Raleway;
          font-size: 24px;
          font-weight: 700;
          color: #fff;
          text-align: center;
          margin-top: 40%;
          -webkit-animation: pulse 2.5s infinite normal;
                  animation: pulse 2.5s infinite normal;
          -webkit-transition: all, .3s;
          transition: all, .3s;

          &::after {
            margin: 0 auto;
            -webkit-transform: translateY(-3px);
                    transform: translateY(-3px);
            content: '';
            display: block;
            width: 0;
            height: 2.5px;
            background: $light-blue;
            -webkit-transition: all, .3s;
            transition: all, .3s;
          }

          &:focus {
            text-decoration: none;
          }

          &:hover {
            text-decoration: none;
            color: $light-blue;
            -webkit-animation: none;
                    animation: none;

            &:after {
              width: 100%;
            }
          }
        }

        span {
          margin-top: 15px;
          font-size: 16px;
          font-weight: 400;
          color: #e2e2e2;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width : 575px) {
  .portfolio {
    &-item {
      .portfolio-item__inside {
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width : 500px) {
  .portfolio {
    &-item {
      .portfolio-item__inside {
        width: 70%;
      }
    }
  }
}

@media only screen and (max-width : 400px) {
  .portfolio {
    &-item {
      .portfolio-item__inside {
        width: 80%;
      }
    }
  }
}

.footer {
  width: 100%;

  .phone-email {
    width: inherit;
    padding: 50px 0;
    background: #26272f;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    span {
      font-size: 24px;
      font-weight: 400;
      color: $light-blue;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      i {
        font-size: 30px;
        margin-right: 10px;
      }

      &:first-child {
        margin-right: 100px;

        i {
          -webkit-transform: translateY(1px);
                  transform: translateY(1px);
        }
      }
    }
  }

  &-socials {
    width: inherit;
    background: $black;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    .social-icons {
      a {
        background: transparent;
        color: $light-blue;
        padding: 50px;
        border-radius: 3px;

        i {
          font-size: 36px;
        }

        &:hover {
          color: #fff;
        }

        &:nth-child(1) {
          margin-left: 0;

          &:hover {
            background: #475993;
          }
        }

        &:nth-child(2) {
          &:hover {
            background: #80c52c;
          }
        }

        &:nth-child(3) {
          &:hover {
            background: #289fd9;
          }
        }

        &:nth-child(4) {
          &:hover {
            background: #000;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .footer {
    .phone-email {
      padding: 40px 0;

      span {
        font-size: 22px;

        i {
          font-size: 26px;
        }

        &:first-child {
          margin-right: 75px;

          i {
            -webkit-transform: translateY(1px);
                    transform: translateY(1px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .footer {
    .phone-email {
      padding: 40px 0;

      span {
        font-size: 20px;

        i {
          font-size: 24px;
        }

        &:first-child {
          margin-right: 50px;

          i {
            -webkit-transform: translateY(1px);
                    transform: translateY(1px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .footer {
    .phone-email {
      padding: 40px 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      span {
        font-size: 18px;

        i {
          font-size: 22px;
        }

        &:first-child {
          margin-right: 0px;
          margin-bottom: 20px;

          i {
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
          }
        }
      }
    }

    &-socials {
      .social-icons {
        a {
          padding: 30px;

          i {
            font-size: 30px;
          }
        }
      }
    }
  }
}
