// to compile...

$blue : #033160;
$light-blue: #0e82f9;
$black: #232323;

@import "./_components/_open-sans.scss";
@import "./_components/_roboto.scss";
@import "./_components/_josefin-sans.scss";
@import "./_components/_lato.scss";
@import "./_components/_raleway.scss";
@import "./_components/_nav-bar.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: relative;
  width: 100%;
  height: 850px;
  background: url(../img/programmin.jpg) no-repeat center / cover;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  &::before {
    background: rgba(3, 49, 96, 0.9);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__info {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;

    h1 {
      font-family: JosefinSans;
      font-size: 90px;
      font-weight: 300;
    }

    h2 {
      font-family: JosefinSans;
      font-size: 45px;
      font-weight: 100;
    }

    .header__btn {
      font-family: Raleway;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      width: 150px;
      height: 50px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1.5px solid #fff;
      margin-top: 45px;
      border-radius: 50px;
      text-decoration: none;
      -webkit-transition: all, .5s;
      transition: all, .5s;

      &::after {
        margin: 0 auto;
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        content: '';
        display: block;
        width: 0;
        height: 1.5px;
        background: #fff;
        -webkit-transition: all, .5s;
        transition: all, .5s;
      }

      &:hover {
        background: #0c6fd5;

        &::after {
          width: 47%;
        }
      }
    }
  }

  &__nav-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 49, 96, 0.7)), to(rgba(3, 49, 96, 1.0)));
    background: linear-gradient(rgba(3, 49, 96, 0.7), rgba(3, 49, 96, 1.0));
  }
}

@media only screen and (max-width : 991px) {
  .header {
    height: 750px;

    &__info {
      h1 {
        font-size: 75px;
      }

      h2 {
        font-size: 35px;
      }
    }

    &__nav-bar {
      .container {
        width: 100%;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .header {
    height: 550px;

    &__info {
      h1 {
        font-size: 65px;
      }

      h2 {
        font-size: 25px;
      }

      .header__btn {
        margin-top: 30px;
      }
    }

    &__nav-bar {
      height: 75px;
    }
  }
}

@media only screen and (max-width : 567px) {
  .header {
    &__info {
      padding-left: 25px;

      h1 {
        font-size: 45px;
      }

      h2 {
        font-size: 22px;
      }

      .header__btn {
        margin-top: 25px;
      }
    }
  }
}

section {
  padding: 150px 0;
  width: 100%;
}

#about-me {
  background: #f8f9fb;

  .about-me__photo {
    padding-right: 0;
    z-index: 1;

    img {
      width: 100%;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(146,148,151,1);
              box-shadow: 0px 0px 5px 2px rgba(146,148,151,1);
    }
  }

  .about-me__socials {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-left: 0;
    z-index: 0;

    .white-area {
      padding: 57px 0 40px 33px;
      background: #fff;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(220,221,223,1);
              box-shadow: 0px 0px 5px 2px rgba(220,221,223,1);
      margin-bottom: 30px;

      h2 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 35px;
        color: $black;
      }

      h3 {
        margin: 0;
        font-size: 22px;
        font-weight: 300;
        color: #282828;
      }
    }

    .social {
      margin-left: 33px;
      margin-bottom: 60px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      span {
        font-family: Raleway;
        font-size: 30px;
        font-weight: 400;
        color: #c2c2c2;
        margin-right: 30px;
      }
    }
  }

  .personal-info {
    margin-top: 80px;

    h3 {
      width: 100%;
      font-family: Raleway;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .about-me__wrapper {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .about-me__bio {
      color: $black;

      &-block {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 18px;

        * {
          display: -ms-flex;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;

          span {
            margin-top: 20px;
          }
        }

        &_01 {
          span {
            font-weight: 700;
          }
        }

        &_02 {
          margin-left: 50px;

          span {
            font-weight: 400;
            -webkit-transform: translateY(-1px);
                    transform: translateY(-1px);
          }
        }
      }
    }

    .about-me__CV {
      padding-left: 80px;
    }
  }
}

.main-btn {
  padding: 15px 30px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  border-radius: 5px;
  text-decoration: none;
  background: $light-blue;
  position: relative;
  -webkit-transition: all, .5s;
  transition: all, .5s;

  &::after {
    position: absolute;
    left: 30px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    content: '';
    display: block;
    width: 0;
    height: 2.5px;
    background: #fff;
    -webkit-transition: all, .5s;
    transition: all, .5s;
  }

  &:hover {
    background: darken($light-blue, 10%);
    text-decoration: none;
    color: #fff;

    &:after {
      width: 76%;
    }
  }

  &:focus {
    color: #fff;
    text-decoration: none;
  }

  i {
    margin-left: 10px;
  }
}

.social-icons {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  a {
    width: 35px;
    height: 35px;
    border-radius: 27px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    color: #fff;
    text-decoration: none;

    i {
      font-size: 20px;
    }

    &:nth-child(1) {
      background: #475993;
    }

    &:nth-child(2) {
      background: #80c52c;
    }

    &:nth-child(3) {
      background: #289fd9;
    }

    &:nth-child(4) {
      background: #000;
    }

    &:hover {
      background: $light-blue;
    }
  }
}

@media only screen and (max-width : 1199px) {
  section {
    padding: 100px 0;
  }

  #about-me {
    .about-me__socials {
      .white-area {
        padding: 47px 0 30px 33px;
        margin-bottom: 30px;

        h2 {
          font-size: 35px;
        }

        h3 {
          font-size: 22px;
        }
      }

      .social {
        margin-left: 33px;
        margin-bottom: 30px;

        span {
          font-size: 30px;
          margin-right: 30px;
        }
      }
    }

    .personal-info {
      margin-top: 60px;

      h3 {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }

    .about-me__wrapper {
      .about-me__bio {
        &-block {
          font-size: 18px;

          * {
            span {
              margin-top: 20px;
            }
          }

          &_02 {
            margin-left: 50px;
          }
        }
      }

      .about-me__CV {
        padding-left: 50px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  section {
    padding: 75px 0;
  }

  #about-me {
    .about-me__socials {
      .white-area {
        padding: 37px 0 25px 25px;
        margin-bottom: 25px;

        h2 {
          font-size: 32px;
        }

        h3 {
          font-size: 18px;
        }
      }

      .social {
        margin-left: 25px;
        margin-bottom: 30px;

        span {
          font-size: 24px;
          margin-right: 20px;
        }
      }
    }

    .personal-info {
      margin-top: 60px;

      h3 {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }

    .about-me__wrapper {
      .about-me__bio {
        &-block {
          font-size: 18px;

          * {
            span {
              margin-top: 20px;
            }
          }

          &_02 {
            margin-left: 50px;
          }
        }
      }

      .about-me__CV {
        padding-left: 0px;
        margin-top: 60px;

        .main-btn {
          margin-left: 35px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  section {
    padding: 50px 0;
  }

  #about-me {
    .about-me__photo {
      padding-right: 15px;
    }

    .about-me__socials {
      padding-left: 15px;

      .white-area {
        padding: 37px 0 25px 0px;
        margin-bottom: 25px;
        text-align: center;

        h2 {
          font-size: 30px;
        }

        h3 {
          font-size: 18px;
        }
      }

      .social {
        margin-left: 0px;
        margin-bottom: 0px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        span {
          font-size: 22px;
          margin-right: 20px;
        }
      }
    }

    .personal-info {
      margin-top: 60px;

      h3 {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }

    .about-me__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;

      .about-me__bio {
        &-block {
          font-size: 16px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;

          * {
            span {
              margin-top: 15px;
            }
          }

          &_02 {
            margin-left: 40px;
          }
        }
      }

      .about-me__CV {
        padding-left: 15px;
        margin-top: 50px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .main-btn {
          margin-left: 0;
          margin: 0 auto;
        }
      }
    }
  }

  .main-btn {
    padding: 10px 20px;
    font-size: 20px;

    &::after {
      left: 20px;
      height: 2.0px;
    }

    &:hover {
      &:after {
        width: 80.5%;
      }
    }

    i {
      margin-left: 7px;
    }
  }
}

@media only screen and (max-width : 436px) {
  #about-me {
    .about-me__socials {
      .white-area {
        padding: 25px 0 15px 0px;
        margin-bottom: 25px;
        text-align: center;

        h2 {
          font-size: 30px;
        }

        h3 {
          width: 220px;
          font-size: 18px;
          margin: 0 auto;
        }
      }

      .social {

        span {
          width: 53px;
          font-size: 18px;
        }
      }
    }

    .personal-info {
      margin-top: 60px;
      padding: 0 15px;

      h3 {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }

    .about-me__wrapper {
      .about-me__bio {
        &-block {
          font-size: 16px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;

          * {
            span {
              margin-top: 15px;
            }
          }

          &_02 {
            margin-left: 40px;
          }
        }
      }

      .about-me__CV {
        padding-left: 0px;
        margin-top: 50px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .main-btn {
          margin: 0 auto;
        }
      }
    }
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
